<div class="row">
    <div class="col-2">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color:  #264441;">
            <div class="container-fluid">
              <a class="navbar-brand fw-bold" href="#">Idézetek</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/dashboard">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/employee">Idézetek</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link ">Link</a>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
    </div>
    <div class="col-10">
        <div class="container-fluid mt-1">           
        </div>    
    </div>
</div>

<div class="container-fluid my-4 main-content">
    <div class="row">
        <div class="col-7">
            <div class="card">
                <div class="card-header bg-secondary">
                    <div class="row">
                        <div class="col-6 text-white">
                            <strong>Idézet Lista</strong> 
                        </div>  
                        <div class="col-6 text-end">
                            <button class="btn text-white" style="background-color:#264441;">Új hozzáadása</button>       
                        </div>                                   
                    </div>                       
                </div>
                <div class="card-body">
                    <div class="row">
                       <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>                                
                                    <th>Idézet</th>                                
                                    <th>Szerző</th>
                                    <th>Kategória</th>                                                                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let quote of quotes">                                
                                    <td>{{ quote.text }}</td>
                                    <td>{{ quote.author }}</td>
                                    <td>{{ quote.categories }}</td>
                                    <button class="btn btn text-white" style="background-color:#1458a5;" >Részletek</button>                                   
                                     <button class="btn btn text-white" style="background-color:#264441;">Szerkeszt</button>
                                     <button class="btn btn text-white" style="background-color:#a51414;" >Töröl</button>
                                  </tr>
                            </tbody>
                        </table>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>