body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    overflow: hidden;
    position: relative;
  }
  
  .bokeh-background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
  }
  
  .bokeh {
    position: absolute;
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    filter: blur(50px);
    animation:float 10s infinite ease-in-out; 
  }
  
  .bokeh:nth-child(1) {
    top: 10%;
    left: 10%;
    animation-delay: 0s;
    background: rgba(255, 100, 150, 0.2);
  }
  
  .bokeh:nth-child(2) {
    top: 10%;
    left: 70%;
    animation-delay: 0s;
    background: rgba(100, 255, 150, 0.2);
  }
  
  .bokeh:nth-child(3) {
    top: 50%;
    left: 55%;
    animation-delay: 0s;
    background: rgba(150, 150, 255, 0.2);
  }
  
  .bokeh:nth-child(4) {
    top: 80%;
    left: 20%;
    animation-delay: 0s;
    background: rgba(255, 255, 100, 0.2);
  }
  
  .bokeh:nth-child(5) {
    top: 80%;
    left: 80%;
    animation-delay: 0s;
    background: rgba(255, 150, 255, 0.2);
  }
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0) translateX(0);
    }
    50% {
      transform: translateY(-100px) translateX(50px);
    }
  }
  
  .login-card {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 350px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    color: white;
  }
  
  .login-card h2 {
    margin-bottom: 80px;
  }
  
  .login-card input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
  }
  
  .login-card input::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .login-card button {
    width: 100%;
    padding: 10px;
    margin-top: 40px;
    background: rgba(25, 12, 212, 0.3);
    border: orchide 20px thick;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;    
  }
  
  .login-card button:hover {
    background: rgba(255, 255, 255, 0.5);
  }

  
  