.mycards {
    background-color: white;
    border: solid 8px #30323a;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .back-btn {
    color: #858AA6;
    background-color: transparent;
    border: 2px solid #858AA6;
    padding: 0.5rem 1.2rem;
    font-size: 1.1rem;
    border-radius: 30px;
    font-weight: 500;
    transition: all 0.3s ease;
  }
  
  .back-btn:hover {
    background-color: #858AA6;
    color: white;
  }